/*
    #e67e22;
*/


/*---------------------------------*/
/* BASIC SETUP */
/*---------------------------------*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*---------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
    content: '.';
}

/*-------HEADINGS-------*/
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-size: 250%;
    word-spacing: 4px;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom:30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    background-color: #e67e22;
    width: 100px;
    height: 2px;
    content: ' ';
    margin: 0 auto;
    margin-top: 30px;
}

/*-------PARAGRAPHS-------*/
.long-copy {
    line-height: 145%;
    width: 68%;
    margin-left: 16%;
    margin-bottom: 
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*-------LINK-------*/

a:link,
a:visited {
    text-decoration: none;
    color: #e67e22;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:active,
a:hover {
    color: #555;
    border-bottom: 1px solid transparent;
}

/*-------BUTTONS-------*/
.icon-big {
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small {
    color: #e67e22;
    display: inline-block;
    width: 30px;
    font-size: 120%;
    text-align: center;
    margin-right: 10px;

    /*icon next to text alignment solution*/
    line-height: 120%;
    vertical-align: middle;
    margin-bottom: 3px;
}

/*-------BUTTONS-------*/
.btn:link,
.btn:visited,
input[type='submit'] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type='submit'] {
    border: 1px solid #e67e22;
    background-color: #e67e22;
    color: white;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e66e22;
    color: #e67e22;
}

.btn:active,
.btn:hover,
input[type='submit']:hover,
input[type='submit']:active {
    background-color: #cf6d17;
}

.btn-full:active,
.btn-full:hover {
    border: 1px solid #cf6d17;
}

.btn-ghost:active,
.btn-ghost:hover {
    border: 1px solid #cf6d17;
    color: white;
}

/*---------------------------------*/
/* HEADER */
/*---------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1140px;
    transform: translate(-50%,-50%);
}

.logo {
    margin-top: 20px;
    height: 100px;
    width: auto;
    float: left;
}

.main-nav {
    margin-top: 50px;
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    font-size: 90%;
    transition: border-bottom 0.2s;
    padding: 8px 0px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*---------------------------------*/
/*FEATURES */
/*---------------------------------*/

.section-features .long-copy {
    margin-bottom: 30px;
}

/*---------------------------------*/
/* MEALS */
/*---------------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img {
    filter: blur(0.7px);
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    filter: none;
    transform: scale(1.03);
    opacity: 1;
}

/*---------------------------------*/
/* HOW IT WORKS */
/*---------------------------------*/

.section-steps {
    background-color: #e5e5e5;
}
.steps-box:first-child {
    margin-top: 30px;
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    margin-top: 70px;
    padding-left: 3%;
}

.app-screen {
    width: 40%;
}

.works-steps {
    margin-bottom: 50px;
}

.works-steps:last-of-type {
    margin-bottom: 80px;
}

.works-steps div {
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 150%;
    padding: 5px;
    float: left;
    margin-right: 25px;
}

.btn-app img {
    height: 50px;
    width: auto;
}

.btn-app:link,
.btn-app:visited {
    border: none;
}

/*---------------------------------*/
/* CITIES */
/*---------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/*---------------------------------*/
/* TESTIMONIALS */
/*---------------------------------*/

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../resources/img/back-customers.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: rgb(155, 155, 155);
}

.section-testimonials img{
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.section-testimonials blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 50px;
}

.section-testimonials cite {
    margin-top: 25px;
    font-size: 90%;
    display: block;
}

blockquote:before {
    content: '\201C';
    font-size: 500%;
    display: block;
    position: absolute;
    left: -5px;
    top: -5px;
}

/*---------------------------------*/
/* PLANS */
/*---------------------------------*/

.section-plans {
    background-color: #e5e5e5;
}

.plan-box {
    background-color: white;
    width: 90%;
    margin-left: 5%;
    border-radius: 5%;
    box-shadow: 0 2px 2px #cccccc;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.plan-box div:first-child {
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plan-box div:last-child {
    text-align: center;
    border: none;
}

.plan-price {
    font-size: 300%;
    padding-bottom: 15px;
    /* font-weight: 300; */
    color: #e67e22
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0px;
}

/*---------------------------------*/
/* FORM */
/*---------------------------------*/

.section-form {
    width: 60%;
    margin: 0 auto;
}

input[type='text'],
input[type='email'],
select,
textarea {
    width: 100%;
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #ccc;
}

input[type='checkbox'] {
    margin: 10px 5px 10 0;
}

textarea {
    height: 100px;
}

*:focus {
    outline: none;
}

/*---------------------------------*/
/* FOOTER */
/*---------------------------------*/

footer {
    padding: 30px;
    background-color: #333;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
    font-size: 140%;
}

.social-links li,
.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a:visited,
.social-links a:link,
.footer-nav a:visited,
.footer-nav a:link {
    border: none;
    text-decoration: none;
    color: #5f5f5f;
}

.footer-nav a:hover,
.footer-nav a:active {
    color: white;
}

.ion-social-twitter:hover {
    color: #00C6FF;
}

.ion-social-facebook:hover {
    color: #3B5998;
}

.ion-social-googleplus:hover {
    color: #CC3333;
}

.ion-social-instagram:hover {
    color: #125688;
}

footer p {
    text-align: center;
    margin-top: 30px;
    font-size: 90%;
}